.full-version,
.full-version * {
  box-sizing: border-box;
}
.full-version {
  border-radius: 33px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 2774px;
  position: relative;
  overflow: hidden;
}
.pok-10-2 {
  width: 293px;
  height: 191px;
  position: absolute;
  left: 288px;
  top: 2099px;
  object-fit: cover;
  aspect-ratio: 293/191;
}
.frame-3 {
  background: #ffffff;
  width: 1380px;
  height: 1191px;
  position: absolute;
  left: -17px;
  top: 938px;
  overflow-y: auto;
}
.effortless-money-management {
  color: #000000;
  text-align: left;
  font-family: "Montaga-Regular", sans-serif;
  font-size: 111px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 659px);
  top: 73px;
  width: 868px;
}
.rectangle-7 {
  background: linear-gradient(to left, #ffd95f, #ffd95f),
    linear-gradient(to left, #ffd95f, #ffd95f);
  border-radius: 25px;
  border-style: solid;
  border-color: #262323;
  border-width: 1px;
  width: 447px;
  height: 564px;
  position: absolute;
  left: 0px;
  top: 480px;
}
.track-expenses {
  color: #000000;
  text-align: left;
  font-family: "Narnoor-Bold", sans-serif;
  font-size: 48px;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 749px;
  width: 390px;
  height: 80px;
}
.submit-and-monitor-your-business-expenses-with-ease-anytime-and-anywhere {
  color: #000000;
  text-align: left;
  font-family: "Monda-Regular", sans-serif;
  font-size: 27px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 854px;
  width: 423px;
  height: 165px;
}
.rectangle-8 {
  background: linear-gradient(to left, #ffd95f, #ffd95f),
    linear-gradient(to left, #ffd95f, #ffd95f);
  border-radius: 25px;
  border-style: solid;
  border-color: #262323;
  border-width: 1px;
  width: 448px;
  height: 564px;
  position: absolute;
  left: 475px;
  top: 480px;
}
.rectangle-9 {
  background: linear-gradient(to left, #ffd95f, #ffd95f),
    linear-gradient(to left, #ffd95f, #ffd95f);
  border-radius: 25px;
  border-style: solid;
  border-color: #262323;
  border-width: 1px;
  width: 431px;
  height: 564px;
  position: absolute;
  left: 951px;
  top: 480px;
}
.seamlessly-process-and-approve-invoices-with-powerful-automation-tools {
  color: #000000;
  text-align: left;
  font-family: "Monda-Regular", sans-serif;
  font-size: 27px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 853px;
  width: 425px;
  height: 165px;
}
.handle-invoices {
  color: #000000;
  text-align: left;
  font-family: "Narnoor-Bold", sans-serif;
  font-size: 48px;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  left: 966px;
  top: 749px;
  width: 390px;
  height: 80px;
}
.rectangle-10 {
  background: linear-gradient(to left, #020100, #020100),
    linear-gradient(to left, #ffd95f, #ffd95f);
  border-radius: 25px;
  border-style: solid;
  border-color: #262323;
  border-width: 1px;
  width: 448.66px;
  height: 568.23px;
  position: absolute;
  left: 451.1px;
  top: 509.02px;
  transform-origin: 0 0;
  transform: rotate(-7.037deg) scale(1, 1);
}
.plan-trip {
  color: #fffcfc;
  text-align: left;
  font-family: "Narnoor-ExtraBold", sans-serif;
  font-size: 55px;
  letter-spacing: 0.005em;
  font-weight: 800;
  position: absolute;
  left: 563px;
  top: 950.67px;
  width: 253.8px;
  height: 89px;
  transform-origin: 0 0;
  transform: rotate(-7.86deg) scale(1, 1);
}
.pngtree-wallet-wallet-stick-figure-4440425-1 {
  width: 149px;
  height: 149px;
  position: absolute;
  left: 47px;
  top: 493px;
  object-fit: cover;
  aspect-ratio: 1;
}
.pngtree-vector-receipt-icon-4187172-1 {
  width: 149px;
  height: 149px;
  position: absolute;
  left: 966px;
  top: 493px;
  object-fit: cover;
  aspect-ratio: 1;
}
.pngtree-3-d-pin-map-location-icon-9117037-1 {
  width: 427.52px;
  height: 427.52px;
  position: absolute;
  left: 464.75px;
  top: 555.56px;
  transform-origin: 0 0;
  transform: rotate(-7.295deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "NoticiaText-Bold", sans-serif;
  font-size: 96px;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  left: 815px;
  top: 896.97px;
  width: 138px;
  height: 100px;
  transform-origin: 0 0;
  transform: rotate(-8.74deg) scale(1, 1);
}
.algonite {
  color: #d5a303;
  text-align: left;
  font-family: "NoticiaText-Bold", sans-serif;
  font-size: 96px;
  letter-spacing: 0.005em;
  font-weight: 700;
  position: absolute;
  left: 520px;
  top: 2158px;
  width: 397px;
  height: 132px;
}
.send-your-feedback-abc-gmail-com {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2624px;
  width: 590px;
  height: 74px;
}
.send-your-feedback-abc-gmail-com-span {
  color: #ffffff;
  font-family: "Nokora-Bold", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 700;
}
.send-your-feedback-abc-gmail-com-span2 {
  color: #ffffff;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
}
.frame-4 {
  width: 1369px;
  height: 983px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.better-way-to-manage-your-money {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 106px;
  top: 116px;
  width: 876px;
  height: 406px;
}
.better-way-to-manage-your-money-span {
  color: #ffffff;
  font-family: "Fraunces-Bold", sans-serif;
  font-size: 100px;
  letter-spacing: 0.005em;
  font-weight: 700;
}
.better-way-to-manage-your-money-span2 {
  color: #ffffff;
  font-family: "FrederickaTheGreat-Regular", sans-serif;
  font-size: 64px;
  letter-spacing: 0.005em;
  font-weight: 400;
}
.better-way-to-manage-your-money-span3 {
  color: #ffffff;
  font-family: "FrederickaTheGreat-Regular", sans-serif;
  font-size: 111px;
  letter-spacing: 0.005em;
  font-weight: 400;
}
.pok-10-1 {
  width: 142.69px;
  height: 93px;
  position: absolute;
  left: -17px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 142.69/93;
}
.rectangle-1 {
  background: #ffd95f;
  border-radius: 40px;
  width: 347px;
  height: 69px;
  position: absolute;
  left: 106px;
  top: 629px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #101010;
  text-align: left;
  font-family: "LuxuriousRoman-Regular", sans-serif;
  font-size: 37px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 126px;
  top: 643px;
  width: 222px;
  height: 67px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "MaidenOrange-Regular", sans-serif;
  font-size: 64px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 369px;
  top: 645px;
  width: 84px;
  height: 63px;
}
.savings {
  color: #b5ac97;
  text-align: left;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 132px;
  top: 2392px;
  width: 127px;
  height: 67px;
}
.personal-loan {
  color: #b5ac97;
  text-align: left;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 323px;
  top: 2395px;
  width: 245px;
  height: 67px;
}
.one-card {
  color: #b5ac97;
  text-align: left;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 613px;
  top: 2395px;
  width: 156px;
  height: 36px;
}
.contact {
  color: #b5ac97;
  text-align: left;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 833px;
  top: 2395px;
  width: 137px;
  height: 30px;
}
.help {
  color: #b5ac97;
  text-align: left;
  font-family: "Nokora-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 1058px;
  top: 2395px;
  width: 124px;
  height: 67px;
}
.image-2 {
  border-radius: 12px;
  width: 216px;
  height: 64px;
  position: absolute;
  left: calc(50% - 275px);
  top: 2499px;
  object-fit: cover;
  aspect-ratio: 216/64;
}
.image-3 {
  border-radius: 12px;
  width: 229.46px;
  height: 64px;
  position: absolute;
  left: calc(50% - 36px);
  top: 2499px;
  object-fit: cover;
  aspect-ratio: 229.46/64;
}
