.mac-book-air-1,
.mac-book-air-1 * {
  box-sizing: border-box;
}
.mac-book-air-1 {
  background: #ffffff;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #ffd95f;
  border-radius: 60px;
  width: 557px;
  height: 790px;
  position: absolute;
  left: 666px;
  top: 21px;
}
.rectangle-7 {
  background: #fffcf8;
  border-radius: 41px;
  width: 502px;
  height: 61px;
  position: absolute;
  left: 693px;
  top: 152px;
  font-size: 23px;
  padding-left: 20px;
}
.rectangle-5 {
  background: #fffdfa;
  border-radius: 41px;
  width: 502px;
  height: 63px;
  position: absolute;
  left: 694px;
  top: 556px;
  font-size: 23px;
  padding-left: 20px;
}
.confirm-password {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 694px;
  top: 494px;
  width: 350px;
  height: 42px;
}
.password {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 693px;
  top: 355px;
  width: 211px;
  height: 28px;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "RobotoMono-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 694px;
  top: 226px;
  width: 211px;
  height: 28px;
}
.create-an-account {
  color: #000000;
  text-align: center;
  font-family: "Montaga-Regular", sans-serif;
  font-size: 53px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 643px;
  top: 29px;
  width: 580px;
  height: 91px;
}
.name {
  color: #000000;
  text-align: left;
  font-family: "RobotoSerif-Regular", sans-serif;
  font-size: 32px;
  letter-spacing: 0.005em;
  font-weight: 400;
  position: absolute;
  left: 694px;
  top: 103px;
  width: 211px;
  height: 35px;
}
.rectangle-3 {
  background: #fffcf8;
  border-radius: 41px;
  width: 502px;
  height: 61px;
  position: absolute;
  left: 693px;
  top: 283px;
  font-size: 23px;
  padding-left: 20px;
}
.rectangle-4 {
  background: #fffefd;
  border-radius: 41px;
  width: 502px;
  height: 62px;
  position: absolute;
  left: 694px;
  top: 412px;
  font-size: 23px;
  padding-left: 20px;
}
.rectangle-6 {
  background: #1b1915;
  border-radius: 28px;
  width: 231px;
  height: 87px;
  position: absolute;
  left: 828px;
  top: 650px;
}
.sign-up {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 40px;
  letter-spacing: 0.005em;
  font-weight: 600;
  position: absolute;
  left: 841px;
  top: 653px;
  width: 208px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.already-have-an-account-sign-in {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 22px;
  letter-spacing: 0.005em;
  font-weight: 600;
  position: absolute;
  left: 718px;
  top: 748px;
  width: 453px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2 {
  width: 666px;
  height: 601px;
  position: absolute;
  left: -23px;
  top: 259px;
  overflow: hidden;
  object-fit: cover;
}
